.borrows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Input Area */
  .borrows-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .borrows-input-container form {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .borrows-input-container input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .borrows-input-container button {
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007bff;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .borrows-input-container button:hover {
    background-color: #0056b3;
    transition: all 0.3s;
  }


.borrows-input-container select {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}